
* {
    scroll-behavior: smooth;
  }

@mixin title-section {
     display: flex;
      justify-content: center;
      justify-items: center;
      padding-bottom: 1rem;
      align-items: center;
      gap: 2rem;
      align-items: center;

      img {
        height: 50px;
      }

      p {
        font-size: 2.4rem;
        text-align: center;

        span {
          color: #f7941d;
        }
      }

      @media screen and (max-width: 768px) {
        p {
          @apply text-xl mb-2;
        }

        img {
          @apply w-10 h-auto;
        }
      }
  }

// Predefined Break-points

$mediaMaxWidth: 1260px;
$mediaMaxWidth: 960px;
$mediaMinWidth: 480px;


.txt {
  &-blue {
    color: $sea-serpent;
  }
}

@mixin button-base {
  @apply text-base uppercase px-8 py-2.5 my-8 text-center lg:w-auto w-full;
}

@mixin title-kike-section {
  @apply lg:text-4xl text-xl whitespace-nowrap tracking-wider mb-4 w-1/2;
  font-family: "Source Code Pro SemiBold";
  font-weight: 600;
  color: $h2-color;
}
