// Nunito
@font-face {
  font-family: 'Nunito Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');
}

// Source Code Pro
@font-face {
  font-family: 'Source Code Pro Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro SemiBold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~/assets/fonts/Source_Code_Pro/static/SourceCodePro-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~/assets/fonts/Source_Code_Pro/static/SourceCodePro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro Black';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~/assets/fonts/Source_Code_Pro/static/SourceCodePro-Black.ttf') format('truetype');
}


