$example-color: #e3a;
$background-color: #09253a;
$font-color: #c3892d;
$hr-color: #ffffff;
$button-color: #f25e5e;
$footer-color: #707070;
$team-color: #111111;
$form-color: #231f20;
$areas-color: #f6f6f6;
$radio-color: #484848;
$success-color: #15e44c;
