$example-color: #e3a;
$background-color: #2D2A2A;
$font-color: #c3892d;
$hr-color: #ffffff;
$button-color: #f25e5e;
$footer-color: #707070;
$team-color: #111111;
$form-color: #231f20;
$areas-color: #f6f6f6;
$radio-color: #484848;
$success-color: #15e44c;
$background-color: #595959;
$font-color: #00E1DD;
$title-color: #F9A077;
$button-color: #FDD403;
$css-color: #C92121;
$html-color: #6165D9;
$angular-color: #00CD5E;
$vue-color: #00E0FF;
$jquery-color: #B800C8;
$boostrap-color: #9B3434;
$node-color: #F9A077;
$h2-color: #CCCCCC;

// Branding colors
$light-salmon: #F89F76;
$cyber-yellow: #FCD405;
$sea-serpent: #55C5CA;
$dark-gray: #2D2A2A;
$light-gray: #5A5959;

// Branding colors VV
$branding-green: #63B190;
$branding-red: #CF1F26;
$branding-pink: #ED037C;
$branding-blue: #00A3D2;
$branding-orange: #FF8F00;
